@model IEnumerable<WishlistApp3.Models.wishlist>
@using WishlistApp3.Controllers;
@{
    if (IsPost) {
        HomeController hc = new HomeController();
        var insert = "INSERT INTO wishlists (userID, wishlistName) VALUES (0, 'new list')";
        hc.db.Database.ExecuteSqlCommand(insert);
        Response.Redirect("~/Home/Wishlist");
        //var email = "";
        //var password = "";

        //if (IsPost)
        //{
        //    email = Request.Form["email"];
        //    password = Request.Form["password"];

        //    HomeController hc = new HomeController();
        //    var insert = "INSERT INTO persons (email, password) VALUES ({0}, {1})";
        //    hc.db.Database.ExecuteSqlCommand(insert, email, password);
        //    Response.Redirect("~/Home/Index");
        //}
    }
    ViewBag.Title = "Home Page";

}
<div class="container">
    <div class="row">
        @foreach (var list in Model)
        {
        <div class="col-sm-4">
            <div class="card">
                <h2 class="card-title"> <a href="/Home/Wishlist">@list.wishlistName</a></h2>

                @{ 
                IEnumerable<WishlistApp3.Models.item> items = list.items;
                foreach (var item in items)
                {
                <p class="card-text text-center">@item.itemName</p>
                }
                }
            </div>
        </div>
        }
        <!--<div class="col-sm-4">
            <div class="card">
                <h2 class="card-title">Wishlist 2</h2>
                <p class=" card-text text-center">Insert here some text</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h2 class="card-title">Wishlist 3</h2>
                <p class="card-text text-center">Insert here some more text</p>
            </div>
        </div>-->
    </div>
</div>
<form method="post">
    <div class="btn-holder">
        <button type="submit" class="btn btn-info fab" id="newWishlist">+</button>
    </div>
</form>