@model WishlistApp3.Models.person
@using WishlistApp3.Controllers;
@{ 
    var email = "";
    var password = "";
    
    if (IsPost)
    {
        email = Request.Form["email"];
        password = Request.Form["password"];

        HomeController hc = new HomeController();
        var insert = "INSERT INTO persons (email, password) VALUES ({0}, {1})";
        hc.db.Database.ExecuteSqlCommand(insert, email, password);
        //hc.db.Database.
        //Response.Redirect("~/Home/Index");
    }

}



<div class="card">
    <form method="post">
        <h2 class="text-center">Login</h2>
        <div class="input-group">
                @using (Html.BeginForm("LogButton", "HomeController", FormMethod.Post))
                {

                    <input type="text" name="email" placeholder="Email" id="Email"><br>
                    <input type="password" name="password" placeholder="Password" id="Password"><br>

                    <!--<input type="submit" value="Register"/>-->
                    <button type="submit" class="btn btn-success" id="login">Login</button><br>
                    
                }
        </div>
        <p> Forgot Password?</p>
        <p>New? <a href="register">Register Now</a></p>
    </form>
</div>


